# Supported for python 3.10
# Should work for python > 3.8.


# Scilpy must be installed manually first.
# (or run pip install -r requirements_github.txt)

bertviz~=1.4.0  # For transformer's visu
torch==1.13.*
tqdm==4.64.*
comet-ml==3.21.*
contextlib2==21.6.0
jupyterlab>=3.6.2  # For transformer's visu
IProgress>=0.4     # For jupyter with tdqm
nested_lookup==0.2.25
nose==1.3.*
sphinx_rtd_theme==0.4.* # no longer a hard dependency since version 1.4.0

## Necessary but should be installed with scilpy (Last check: 03/2023):
future==0.18.*
h5py==3.7.*   # h5py must absolutely be >2.4: that's when it became thread-safe
matplotlib==3.6.*   # Hint: If matplotlib fails, you may try to install pyQt5.
nibabel==4.0.*
numpy==1.23.*
scipy==1.9.*

dipy>=1.5.*   # dipy 1.5 is installed on ComputeCanda. Scilpy works currently
              # with 1.6.





# --------------- Notes to developers
# 1. If we upgrade torch, verify if code copied in
#    models.projects.transformers_from_torch has changed.
#    (current code copied from torch 1.13.1)
