
# ---------------
# Note to developpers
# Could not manage to import hot dipy on github.
# We had to use Emmanuelle Renauld's branch of scilpy, with hot dipy skipped.

# Not installing dipy. Will be installed trough my scilpy.
git+https://github.com/EmmaRenauld/scilpy.git@BRANCH_OLD_DIPY#egg=scilpy
# Will install dipy through requirements.

