# Bug Cython. We can't install the master scilpy. :(

# But scilpy works currently with :
# -e git+https://github.com/scilus/hot_dipy@1.6.1rc1#egg=dipy
# --> issue with -e: pytest seems to redo ALL tests.
# --> issue without e: bug with Cython. Arnaud and Francois from scilpy
#     couldn't help. Using official dipy instead of hot dipy:
#     Emmanuelle Renauld's branch of scilpy, with hot dipy skipped.
git+https://github.com/EmmaRenauld/scilpy.git@master#egg=scilpy

# Will install dipy.