# Supported for python > 3.7
git+https://github.com/scilus/scilpy.git@1.4.0#egg=scilpy

torch>=1.11.0
tqdm>=4.60.0
comet-ml>=3.0.2
contextlib2
nested_lookup
nose
sphinx_rtd_theme # no longer a hard dependency since version 1.4.0


## Necessary but should be installed with scilpy (Last check: 03/2022, version 1.2.2):
matplotlib==2.2.*
future==0.17.*
numpy==1.21.*
scipy==1.4.*
# h5py must absolutely be >2.4: that's when it became thread-safe
h5py==2.10.*
dipy==1.5.*   # This is scilpy's current version. However, it breaks the
              # loggings. Waiting anxiously for version 1.6. Meanwhile, you can
              # manually use 1.4 instead if you want.
nibabel==3.0.*





# --------------- Notes to developers
# 1. If we upgrade torch, verify if code copied in
#    models.projects.transformers_from_torch has changed.
#    (current code copied from torch 1.13.1)
