# Supported for python 3.10
# Should work for python > 3.8.

# -------
# Main dependency: scilpy
#    Scilpy and comet_ml both require requests. In comet: >=2.18.*,
#    which installs a version >2.28. Adding request version explicitely.
# -------
requests==2.28.*
dipy==1.9.*
-e git+https://github.com/scilus/scilpy@24435143c507ca018dd7edf3447fd18004c62077#egg=scilpy

# -------
# Other important dependencies
# -------
bertviz==1.4.0  # For transformer's visu
torch==2.5.1
tqdm==4.64.*
comet-ml>=3.22.0
contextlib2==21.6.0
jupyterlab>=3.6.2  # For transformer's visu
jupyter>=1.0.0
IProgress>=0.4     # For jupyter with tdqm
nested_lookup==0.2.25  # For lists management
pynvml>=11.5.0

# -------
# Necessary but should be installed with scilpy (Last check: 04/2024):
# -------
future==0.18.*
h5py==3.10.*   # h5py must absolutely be >2.4: that's when it became thread-safe
matplotlib==3.6.*   # Hint: If matplotlib fails, you may try to install pyQt5.
nibabel==5.2.*
numpy==1.25.*
scipy==1.11.*
scikit-image==0.22.*
